.me-image {
  width: 18vw;
  height: 18vw;
  background: linear-gradient(#5a1a58 10%, #c03131 100%);
  border-radius: 50%;
  padding: 0.3vw;
}

.main-div {
  margin-top: 30vh;
  display: flex;
  margin-right: 10vw;
}

.goal-text {
  font-size: 1.2rem;
  width: 35vw;
  margin: 0px;
}

.logo-div {
  display: flex;
  justify-content: end;
}

.name {
  font-size: 4rem;
  margin-bottom: 3vh;
}

.goal-name-div {
  margin-left: 5vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 660px) {
  .name {
    font-size: 2rem;
    margin-bottom: 3vh;
  }
  .main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    margin-top: 50vw;
  }

  .goal-text {
    font-size: 1.2rem;
    width: 80vw;
    margin: 0px;
  }

  .me-image {
    margin-left: 20vw;
    width: 50vw;
    height: 50vw;
    background: linear-gradient(#5a1a58 10%, #c03131 100%);
    border-radius: 50%;
    padding: 0.3vw;
  }
}
