.me-image {
  width: 18vw;
  height: 18vw;
  background: linear-gradient(#5a1a58 10%, #c03131 100%);
  border-radius: 50%;
  padding: 0.3vw;
}

.main-div {
  margin-top: 30vh;
  display: flex;
  margin-right: 10vw;
}
.image-border-div {
  position: relative;
}
.goal-text {
  font-size: 1.2rem;
  width: 35vw;
  margin: 0px;
}

.logo-div {
  display: flex;
  justify-content: end;
}

.name {
  font-size: 4rem;
  margin-bottom: 3vh;
}

.goal-name-div {
  margin-left: 10vh;
  display: flex;
  flex-direction: column;
}
.circle-small {
  stroke-width: 0.3vw;
  stroke-dasharray: 100;
  fill: transparent;
  transform-origin: center;
}

.circle-medium {
  stroke-width: 0.3vw;
  stroke-dasharray: 150;
  fill: transparent;
  transform-origin: center;
}

.circle-large {
  stroke-width: 0.3vw;
  stroke-dasharray: 150;
  fill: transparent;
  transform-origin: center;
}

.circle-xlarge {
  fill: transparent;
  stroke-width: 0.3vw;
  stroke-dasharray: 110;
  transform-origin: center;
  transition: r 1s;
}

.circle-xlarge:hover {
  r: 14vw;
  stroke-dasharray: 140;
}
.overlay-div {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  transform-origin: center;
  animation: rotate-animation infinite 10s linear;
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay-div-opposite {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  transform-origin: center;
  animation: rotate-animation-opposite infinite 20s linear;
}

@keyframes rotate-animation-opposite {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.svg-circle {
  width: 18vw;
  height: 18vw;
  overflow: visible;
  transform-origin: center;
}

@media (max-width: 660px) {
  .name {
    font-size: 2rem;
    margin-bottom: 3vh;
  }
  .main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    margin-top: 50vw;
  }

  .goal-text {
    font-size: 1.2rem;
    width: 80vw;
    margin: 0px;
  }

  .me-image {
    margin-left: 20vw;
    width: 50vw;
    height: 50vw;
    background: linear-gradient(#5a1a58 10%, #c03131 100%);
    border-radius: 50%;
    padding: 0.3vw;
  }
}
